.App {
  font-family: sans-serif;
  text-align: center;
}

td {
  border: 2px solid green;
}

li {
	list-style: none;
	border: 1px dotted red
}

#parent {
	position: relative;
}
#elem {
	/* padding: 5px; */
/* 	font-size: 18px; */
}

#parent ul {
	position: absolute;
	left: 0px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white;
}
#parent li {
	border: 1px solid gray;
/* margin-left: 30px; */
/* 	font-size: 18px; */
	padding: 1px; 
}
#parent li:hover {
	border: 1px solid black;
	cursor: pointer;
}
