.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #708090;
  font-weight: bold;
}

td {
  border: 2px solid green;
}

li {
  list-style: none;
  border: 1px dotted red;
}

#parent {
  position: relative;
}
#elem {
  /* padding: 5px; */
  /* 	font-size: 18px; */
}

#parent ul {
  position: absolute;
  left: 0px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: white;
}
#parent li {
  border: 1px solid gray;
  /* margin-left: 30px; */
  /* 	font-size: 18px; */
  padding: 1px;
  background-color: #a9a9a9;
}
#parent li:hover {
  border: 1px solid black;
  cursor: pointer;
}

select,
input {
  background-color: #a9a9a9;
}

button {
  border-radius: 30%;
  font-weight: bold;
}

button:hover {
  border-radius: 30%;
  background-color: grey;
}
button:active {
  border-radius: 30%;
  background-color: black;
  color: white;
}
select {
  border: 1px inset black;
}
